USE [master]
GO
/****** Object:  Database [URUGUAIANA]    Script Date: 17/02/2020 17:01:11 ******/
CREATE DATABASE [URUGUAIANA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'URUGUAIANA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\URUGUAIANA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'URUGUAIANA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\URUGUAIANA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [URUGUAIANA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [URUGUAIANA]
GO
/****** Object:  Table [dbo].[ANUNCIO]    Script Date: 17/02/2020 17:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANUNCIO](
	[ANUNCIOID] [int] IDENTITY(1,1) NOT NULL,
	[VENDEDORID] [int] NOT NULL,
	[CATEGORIAID] [int] NOT NULL,
	[CAMINHO] [varchar](200) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[DESCRICAO] [varchar](1000) NULL,
	[PRECO] [money] NOT NULL,
	[QUANTIDADE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ANUNCIOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 17/02/2020 17:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[CATEGORIAID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMENTARIO]    Script Date: 17/02/2020 17:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMENTARIO](
	[COMENTARIOID] [int] IDENTITY(1,1) NOT NULL,
	[ANUNCIOID] [int] NOT NULL,
	[COMENTARIO] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COMENTARIOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DadosCartão]    Script Date: 17/02/2020 17:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DadosCartão](
	[CartaoId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[NumeroCartao] [varchar](20) NOT NULL,
	[SenhaCartao] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 17/02/2020 17:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USUARIOID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[CPF] [varchar](20) NOT NULL,
	[LOGIN] [varchar](15) NOT NULL,
	[SENHA] [varchar](300) NOT NULL,
	[EMAIL] [varchar](100) NULL,
	[TELEFONE] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USUARIOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENDAS]    Script Date: 17/02/2020 17:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDAS](
	[VENDASID] [int] IDENTITY(1,1) NOT NULL,
	[COMPRADORID] [int] NOT NULL,
	[ANUNCIOID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VENDASID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ANUNCIO]  WITH CHECK ADD  CONSTRAINT [FK_ANUNCIOCATEGORIAID] FOREIGN KEY([CATEGORIAID])
REFERENCES [dbo].[CATEGORIA] ([CATEGORIAID])
GO
ALTER TABLE [dbo].[ANUNCIO] CHECK CONSTRAINT [FK_ANUNCIOCATEGORIAID]
GO
ALTER TABLE [dbo].[ANUNCIO]  WITH CHECK ADD  CONSTRAINT [FK_ANUNCIOVENDEDORID] FOREIGN KEY([VENDEDORID])
REFERENCES [dbo].[USUARIO] ([USUARIOID])
GO
ALTER TABLE [dbo].[ANUNCIO] CHECK CONSTRAINT [FK_ANUNCIOVENDEDORID]
GO
ALTER TABLE [dbo].[COMENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_COMENTARIOANUNCIOID] FOREIGN KEY([ANUNCIOID])
REFERENCES [dbo].[ANUNCIO] ([ANUNCIOID])
GO
ALTER TABLE [dbo].[COMENTARIO] CHECK CONSTRAINT [FK_COMENTARIOANUNCIOID]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_VENDASANUNCIOID] FOREIGN KEY([ANUNCIOID])
REFERENCES [dbo].[ANUNCIO] ([ANUNCIOID])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_VENDASANUNCIOID]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_VENDASCOMPRADORID] FOREIGN KEY([COMPRADORID])
REFERENCES [dbo].[USUARIO] ([USUARIOID])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_VENDASCOMPRADORID]
GO
/****** Object:  StoredProcedure [dbo].[SP_Anuncio]    Script Date: 17/02/2020 17:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Anuncio]
	@flagcont int,
	@ANUNCIOID INT = 0,
	@VENDEDORID INT = 0,
	@CATEGORIAID INT = 0,
	@CAMINHO VARCHAR(200) = '', 
	@NOME VARCHAR (100) = '',
	@DESCRICAO VARCHAR(1000) = '',
	@PRECO MONEY = 0,
	@QUANTIDADE int = 0
AS
	if @flagcont = 1 
		GOTO InsertProduto
	if @flagcont = 2
		GOTO SelectProduto
	if @flagcont = 3
		GOTO UpdateProduto
	if @flagcont = 4
		GOTO DeleteProduto

InsertProduto:
	insert into ANUNCIO (CAMINHO, NOME, DESCRICAO, PRECO, CATEGORIAID, VENDEDORID, QUANTIDADE)
	values (@CAMINHO, @NOME, @DESCRICAO, @PRECO, @CATEGORIAID, @VENDEDORID, @QUANTIDADE)
	return

SelectProduto:
	select * from ANUNCIO where ANUNCIOID = @ANUNCIOID
	return

UpdateProduto:
	update ANUNCIO set CAMINHO = @CAMINHO, NOME = @NOME, DESCRICAO = @DESCRICAO, PRECO = @PRECO, CATEGORIAID = @CATEGORIAID, QUANTIDADE = @QUANTIDADE
	where ANUNCIOID = @ANUNCIOID
	return

DeleteProduto:
	delete from ANUNCIO where ANUNCIOID = @ANUNCIOID
	return
GO
/****** Object:  StoredProcedure [dbo].[SP_CadastraUsuario]    Script Date: 17/02/2020 17:01:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CadastraUsuario]
	@NOME VARCHAR(100),
	@CPF VARCHAR(20),
	@LOGIN VARCHAR(15),
	@SENHA VARCHAR(300),
	@EMAIL VARCHAR(100),
	@TELEFONE VARCHAR (15)	
AS
	if exists(select * from USUARIO where LOGIN = @LOGIN)
	begin
		return 0
	end
	else
	begin
		insert into USUARIO (NOME, CPF, LOGIN, SENHA, EMAIL, TELEFONE) values (@NOME, @CPF, @LOGIN, @SENHA, @EMAIL, @TELEFONE)
		return 1
	end
GO
USE [master]
GO
